# Visual Studio
.vs/
*.vspscc
*.vssscc
*.suo
*.user
*.useros

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb # Archivos de símbolos de depuración
*.tlb
*.lib
*.obj

# Caches
*.cache
*/cache/ # Para carpetas llamadas 'cache' en cualquier directorio


*.txt